# Postgres connection string
# Local example: postgresql://postgres:postgres@localhost:5432/finance_db?schema=public
# Supabase example (direct): postgresql://USER:PASSWORD@HOST:5432/postgres?schema=public&sslmode=require
# Supabase example (pooler/pgbouncer): postgresql://USER:PASSWORD@HOST:6543/postgres?schema=public&sslmode=require
DATABASE_URL=

# Server
PORT=4000
NODE_ENV=development

# Auth
JWT_SECRET=replace_me
JWT_EXPIRES_IN=7d
